#home {
  padding: 50px 0;
}

.hero {
  width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    text-align: center;
}

.hero-title {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    padding: 5px 50px;
}

.hero-pic {
    width: 100%;
    margin-top: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    position: relative;
    z-index: 1;
}


/* ------ CIRCLES -----*/

.circles {
    position: absolute;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  left: 350px;  
  top: 45%;
  transform: translateY(-50%);
  z-index: 0;    
}


.circle {
  border: 3px solid rgba(0, 0, 0, 0.656);
  border-radius: 50%;
  position: relative;
}

.outer {
/* animation: rotate 20s linear infinite; */
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  /* justify-content: center; */

  mask-image: linear-gradient(to right, transparent, black);
  -webkit-mask-image: linear-gradient(to right, transparent, black);
}

/* @keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.inner {
  width: 300px;
  height: 300px;
  opacity: 0.6;
}

/* ------ DOTS -----*/

.dots {
    position: absolute;
    inset: 0;

    z-index: 1;
}

.dot {
  position: absolute;

  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;

  cursor: pointer;
  transition: transform 0.2s ease;

    box-shadow: 
        0 0 6px rgba(255, 255, 255, 0.828),
        0 0 12px rgba(255, 255, 255, 0.4),
        0 0 20px rgba(255, 255, 255, 0.558);
}

.dot:hover {
  transform: scale(1.5);
}

.dot-tooltip {
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(0,0,0,0.85);
  color: white;
  padding: 5px 12px;
  border-radius: 999px;
  font-size: 0.6rem;

  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;

  position: relative;
}

.dot-tooltip::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 999px;
  transition: 0.1s ease;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.248) 80%,
    transparent 100%
  );

  z-index: -1;
}

.dot:hover .dot-tooltip {
  opacity: 1;
}

/* //// BLACK BAR //// */

.black-bar {
  width: 100%;
  height: 100px;
  background: black;
  border-radius: 0 0 15px 15px;
}
